body {
    background: radial-gradient(hsl(209 40% 32%), hsl(209 40% 16%));
    background-attachment: fixed;
    background-size: cover;
    color: rgba(255, 255, 255, 0.7);
}

table {
    border-collapse: collapse;
}

td {
    border: 0.0625rem solid black;
    padding: 0.125rem;
}

#calcModal {
    width: auto;
    height: auto;
    padding: 0.625rem;
    position: absolute;
    background-color: rgb(0 0 0 / 0.1);
    border-radius: 1rem;
    cursor: move;
    display: none;
}

input {
    cursor: pointer;
}

.radios {
    padding: 0% 10% 0% 10%;
    margin-top: 0.625rem;
}

.checkboxLabel,
.radioLabel {
    justify-content: center;
    align-content: center;
    word-wrap: normal;
    cursor: pointer;
    width: 10%
}

.submitBtn,
.nextBtn,
.skipBtn,
.crossOutBtns {
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    padding: 0.625rem;
    margin-top: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0 0 #050505;
}

.crossOutBtns:hover {
    text-decoration: line-through;
}

.submitBtn:hover,
.nextBtn:hover,
.skipBtn:hover {
    opacity: 0.6;
}

.modal {
    display: none;
    z-index: 1;
    width: auto;
    height: auto;
    overflow: auto;
    background-color: rgb(0 0 0 / 0.5);
    border-radius: 1rem;
    padding: 0.937rem 0.937rem 0.937rem 0.937rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

#menuContainer {
    margin: 0;
    float: left;
}

#menuModal {
    left: 0;
    top: 0;
}

#settingsModal {
    position: absolute;
    left: 4%;
    top: 3%;
    width: 90%;
    height: 90%;
    background-color: gray;
}

#graphModal {
    position: absolute;
    left: 4%;
    top: 3%;
    width: 90%;
    height: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
}

#graph {
    width: 90%;
    height: 90%;
    justify-content: center;
}

#userInfoModal {
    right: 0;
    top: 0;
}

#userInfoContainer {
    margin: 0;
    float: right;
}

.menuTextBtns,
.exitModalBtns {
    font-size: 1.5625rem;
    cursor: pointer;
    color: black;
}

.exitModalBtns {
    float: right;
    background-color: red;
}

.btn {
    cursor: pointer;
    background: none;
    color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    font-size: 1.5625rem;
}

.scoresText {
    font-size: 1.25rem;
}

.question {
    float: left;
    width: 50%;
}

article,
#scores {
    background-color: rgb(0 0 0 / 0.1);
    border-radius: 1rem;
}

article {
    float: right;
    padding: 1.25rem;
    width: 50%;
    height: fit-content;
}

section {
    display: flex;
    float: left;
    width: 100%;
}

.icoBtns {
    cursor: pointer;
}

.display {
    width: 75%;
    height: 3.125rem;
    text-align: right;
    font-size: 1.5rem;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
    border: none;
    background-color: #ffeb3b;
    border-radius: 0.5rem;
    color: #333;
}

.calcButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.625rem;
}

.calcButton {
    background-color: #03a9f4;
    border: none;
    font-size: 1.5rem;
    padding: 1.25rem;
    cursor: pointer;
    border-radius: 0.625rem;
    transition: background-color 0.3s, transform 0.2s;
    color: white;
}

.calcButton:hover {
    background-color: #0288d1;
    transform: scale(1.1);
}

.calcButton:active {
    transform: scale(0.95);
}

.calcButton.clear {
    background-color: #ff5722;
}

.calcButton.clear:hover {
    background-color: #e64a19;
}

.calcButton.equal {
    background-color: #8bc34a;
}

.calcButton.equal:hover {
    background-color: #689f38;
}

.calcButton.operator {
    background-color: #ff9800;
}

.calcButton.operator:hover {
    background-color: #f57c00;
}

.calcButton.other {
    background-color: violet;
}

#calcHistoryBtn {
    width: 1.5625rem;
    height: 1.5625rem;
}

#exitLeaderboardModal {
    float: right;
    cursor: pointer;
}

table {
    border: 0.0625rem solid black;
}

.title {
    position: absolute;
}

.checkbox_Box,
.radioBox {
    cursor: pointer;
}

.checkbox_Box:hover,
.radioBox:hover {
    scale: 1.1;
}

.checkbox_Box,
.radioBox,
.draggables,
.dropboxes {
    border: 0.125rem solid black;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0 0 #050505;
    background: #24292d;
    width: fit-content;
    height: fit-content;
    padding: 0rem 3.125rem 0rem 3.125rem;
}

.draggables {
    cursor: grab;
}

.droppers {
    border: 0.125rem dashed white;
    padding: 0.625rem;
    width: fit-content;
    height: fit-content;
}

#sidePanel {
    width: 50%;
}

.checker {
    font-size: 1.5625rem;
}

.fill_in {
    background-color: transparent;
    color: white;
}

.fill_inDefinitions {
    font-size: 1.25rem;
}

#sketchpad {
    display: none;
}

.drawCanvas {
    border: 0.0625rem solid black;
    border-radius: 0.625rem;
    cursor: crosshair;
    background-color: white;
}

#canvasContainer {
    display: block;
}

.falseBtn,
.trueBtn {
    color: white;
    font-size: 2.1875rem;
    width: 50%;
    height: 6.25rem;
}

.falseBtn {
    float: right;
    background-color: red;
}

.trueBtn {
    float: left;
    background-color: green;
}

#box {
    display: grid;
    justify-content: center;
}

.optionBoxes {
    display: flex;
    justify-content: space-between;
    margin: 0.625rem 0rem 0.625rem 0rem;
}

#dropdownSentence {
    text-align: center;
    color: white;
    font-size: 1.25rem;
}